<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% block stylesheets %}
    {% endblock %}

    {% block javascripts %}
        {% block importmap %}{{ importmap('app') }}{% endblock %}
    {% endblock %}
</head>
<body class="bg-gray-900 antialiased">
{% block header %}
    {% include 'components/header/header.html.twig' %}
{% endblock %}

    {% block body %}
    {% endblock %}

{% block footer %}
    {% include 'components/footer/footer.html.twig' %}
{% endblock %}
</body>
</html>
