<div class="mx-auto bg-gray-800 rounded-lg overflow-hidden">
    <div class="p-6 md:p-12">
        <h2 class="text-4xl font-extrabold text-white text-center">
            What is <span class="text-blue-600">Brubble</span>?
        </h2>
        <p class="mt-6 text-gray-600 text-lg leading-relaxed">
            <strong class="text-white">Brubble</strong> is an innovative platform that combines the best features of modern blogs and social networks.
            Imagine a place where you can not only post your thoughts, ideas, and stories, but also read the most interesting content from other users.
            It's a space designed for sharing ideas, inspiration, and engagement.
        </p>
        <p class="mt-4 text-gray-600 text-lg leading-relaxed">
            Here, every post is an opportunity for interaction, and every user is a unique source of inspiration. At
            <strong class="text-blue-600">Brubble</strong>, you don't just browse the feed - you immerse yourself in a
            world of ideas that opens up to you with each new blog.
        </p>
        <p class="mt-6 text-lg font-semibold text-gray-900 text-center">
            <span class="text-blue-600">Brubble</span> is your new way to express your thoughts and find interesting content!
        </p>
    </div>
</div>
