{% extends 'layouts/guest.html.twig' %}

{% block title %}Hello MainController!{% endblock %}


{% block body %}
    <div class="max-w-7xl mx-auto pt-12 px-3 h-full">
        <twig:PopularPostSlider/>
        <twig:MailingList/>
    </div>
{% endblock %}
