{% extends 'layouts/guest.html.twig' %}

{% block title %}Hello MainController!{% endblock %}


{% block body %}
    <div class="max-w-7xl mx-auto pt-12 px-3 h-full">
        <twig:PopularPostSlider/>

        <div class="my-10">
            <div class="mt-5">
                <twig:CategorySlider title="Topical categories"/>
            </div>
        </div>

        <twig:AboutBrabble/>
        <twig:MailingList/>
    </div>
{% endblock %}
